{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mera Shop</title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>
    <div class="auth-container">
        <h2>🔒 User Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
        <a href="{% url 'register' %}" class="auth-links">New user? Register here</a>
    </div>
</body>
</html>